html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("pic1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 99%;
    height: 85%;
}

.container {
    background-color: rgb(184, 51, 51, 0.6);
    height: 65%;
    width: 200px;
    margin: auto;
    margin-top: 120px;
    border: 2px solid black;
    border-radius: 10px;

}

#input {
    height: 125px;

}

#key {
    height: 295px;

}

.row1 {
    height: 54px;
}

.but {
    font-size: 50;
    font-weight: bolder;

}

input[type="text"] {
    border-radius: 10px;
    text-align: right;
    font-size: 25px;
    background-color: black;
    color: white;
    border-color: white;
    width: 100%
}