*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

body{
	display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #edf1f4;
}


#calculator{
	position: relative;
	width: 360px;
	height: 560px;
	background-color: #eaedef;
	margin: 0 auto;
    border-radius: 20px;
    box-shadow: 15px 15px 20px rgba(0,0,0,0.1), -15px -15px 20px #fffb;
	padding: 20px;
}

.dark #calculator{
    background: #33393e;
    box-shadow: 15px 15px 20px rgba(0,0,0,0.25), -15px -15px 20px rgb(255, 255, 255, 0.1);
}

#result{
	height: 120px;
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.1), inset -5px -5px 20px #fff;
	border-radius: 10px;
    padding: 0 20px;
}

.dark #result{
    color: #eee;
    box-shadow: inset 15px 15px 20px rgba(0,0,0,0.5),inset -15px -15px 20px rgb(255, 255, 255, 0.1);
}

#history{
	text-align: right;
	height: 20px;
	margin: 20px 20px 0px 20px;
	font-size: 15px;
	color: #4e4e4e;
}

.dark #history{
	color: #dbdbdb;
}

#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#output-text{
	width: 250px;
	height: 120px;
	float: left;
}
#microphone{
	height: 30px;
	width: 30px;
	float: right;
	background-image: url(mic.png);
	background-size: 100% 100%;
	border-radius: 50%;
	margin-top: 45px;
}
.record{	
	animation: microphone-animation 1.5s infinite;
}
@Keyframes microphone-animation{
	0%{
		transform: scale(0.9);
	}
	70%{
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0,148,255,0.4);
		
	}
	100%{
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(0,148,255,0);
	}
}
.tooltip{
	width: 200px;
	font-size: 15px;
	position: absolute;
	background-color: #dddddd;
	color: #636363;
	padding: 10px;
	top: 45px;
	transform: translateX(50px);
	border-radius: 5px;
	visibility: hidden;
}
.tooltip::before{
	content: '';
	position: absolute;
	border-width: 5px;
	border-style: solid;
	border-color:transparent #dddddd transparent transparent;
	left: 0;
	margin-left: -10px;
}
#output-microphone:hover .tooltip{
	visibility: visible;
}


#keyboard{
	height: 400px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

#keyboard button:active{
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.1), inset -5px -5px 10px #fff;
}

#keyboard button:nth-child(1):active,
#keyboard button:nth-child(11):active,
#keyboard button:nth-child(18):active{
	box-shadow: 5px 5px 10px rgba(0,0,0,0.1), -5px -5px 10px #fff, inset 5px 5px 10px rgba(0,0,0,0.1);
}

#keyboard button:nth-child(18){
    background: #2196f3;
    color: #fff;
    border: 2px solid #edf1f4;
}

.dark .operator,
.dark .number{
    color: #eee;
    border: 2px solid #333;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1), -5px -5px 10px rgba(255, 255, 255, 0.1);
	background: #33393e;
}

.operator, .number{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.1), -5px -5px 10px #fff;
    color: #666;
    border: 2px solid #edf1f4;
    border-radius: 10px;
}

#keyboard button:nth-child(1)
{
	grid-column: 1/3;
	width: 130px;
	background: #f44336;
    color: #fff;
    border: 2px solid #edf1f4;
}

#keyboard button:nth-child(11)
{
	grid-column: 4/5;
	grid-row: 3/5;
	height: 130px;
	background: #31a935;
    color: #fff;
    border: 2px solid #edf1f4;
}

.number{
	background-color: #eaedef;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	color: red;
}

.toogleBtn{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #edf1f4;
    background: #555;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1), -5px -5px 10px #fff;
}

.dark{
	background: #282c2f;
}

.dark #keyboard button:active{
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.25), inset -5px -5px 10px rgba(255, 255, 255, 0.1);
	color: #fff;
}

.dark #keyboard button:nth-child(1),
.dark #keyboard button:nth-child(11),
.dark #keyboard button:nth-child(18){
    border: 2px solid #333;
}

.dark #keyboard button:nth-child(1):active,
.dark #keyboard button:nth-child(11):active,
.dark #keyboard button:nth-child(18):active{
    box-shadow: inset 5px 5px 10px rgba(0,0,0,0.1);
}

.dark .toogleBtn{
    background: #edf1f4;
    border: 2px solid #333;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.25), -5px -5px 10px rgba(255, 255, 255, 0.1);
}