@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        width: 100vw;
        height: 100vh;
        background-color: #3b3a30;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Poppins";
    }
}